services:
  # 1. SQL Server Servisi
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: guven_sql
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=GuvenTurizm123!@# 
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql/data

  # 2. Backend API Servisi
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: guven_api
    restart: always
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=GuvenTurizmDB;User Id=sa;Password=GuvenTurizm123!@#;TrustServerCertificate=True;
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "5072:8080" # Çöldən 5072-yə gələn sorğunu daxildə 8080-ə ötürür
    depends_on:
      - sqlserver
    volumes:
      - ./App_Data:/app/App_Data # Şəkilləri serverdə saxlamaq üçün volume

volumes:
  mssql_data: